
export NEXT_PUBLIC_BASE_URL=http://localhost:3100/v1
export NEXT_PUBLIC_FIREBASE_PUBLIC_API_KEY=AIzaSyDQgCY9f3fwhqXfV4kAdEOcbZ9CgA5_RKY
export NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=merlogi-raas-jp-dev.firebaseapp.com
export NEXT_PUBLIC_FIREBASE_PROJECT_ID=merlogi-raas-jp-dev
export FIREBASE_CLIENT_EMAIL=firebase-adminsdk-zcfp6@merlogi-raas-jp-dev.iam.gserviceaccount.com
export FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC2X5otmMiPbVeA
lTtmWfmZnrcaVmASvZJbxEjO9elc6kyBYlvdhSoBWkkcUlfnaaockGTqOk+GKdHG
nNl9Yg4zbQZWuutjcAOUA4LPdzqhcMGfZAkd9r0j5X67ppB0I9MIopdAELEtvXSQ
/JsWvFORWKFi1fsIsSJkJbEUdvcqcmOzrrBakFNWi6N/k4ww+Dyc+9SmxO72gijE
lFeormDF+E3WYokBJlslDuocexp7BLF7FOwhkDQtXPpnnrkFbKNszHc1EgPBeVkc
HNc7CPFqV/S9cMK56pQFX7cM+OEi9cqTngZXcf+IGG7ybFVI1R0KlssjjshnhDxj
/fZuzli/AgMBAAECggEAQMrTWFq8+nPi0Ax0x4a0zjacn89LH61ZF6AzK9AjIf8d
wiPjNl7Ojx939QduMomQRcipCaxAv44Q+MqV3F1fZTbZNyv+X9wWcVoT+chGvL92
Er40HQChruSkc1+YV6K4oYs+SCUGBZWXGcGdCeVLnUpLP/V809g2uzTG5lnjsyDJ
4OBDcWfEDgj2UG7DcOdmMLxxmA+c1s8odlnKQC/0mxR+k3LqiLxhOoO5S5ZIbOCd
UgCNP9OL+v8GLX4bI2m9k0PGzUl6tEjniZ/jKXDeQZfTVaHPpIiIlrWU+jZdhDng
VSdWECsHiQ/bFGjOU9+DAUgZdEPlaiEW3lEmLEm3+QKBgQDmaMNbskW42uQDa7Sp
AfF5opBJrlujMECrqATm3XhCWzYe5KSis+IGC+QG7AVAmfN59Wp8M4ZOZgRVl+bl
RQnAU/LnSjws2uXeXXY/YwixsvgsvhYYZa74XEEw0ys7gGyrn2t7QRZ+050iVfBc
/sIJDXs/0uXJBdjL1riR3SM+VwKBgQDKoQkL4r5aUaSerrM7yMrAGJaxujSQxLM3
kvvVMxbL7WS5lGrF1Qnco6S5YhtlVNOkqW2ZgMBh2ay7IBlHc2PnfU51lt00xbdz
hrhwssFguTQyvfXYMMW2ujhOKj3i03mjsfOEoh5DrT+I7SqJ+bboudsnyP7fETQR
ZFTRngLn2QKBgQCvh2okxig1jpQcQwZLps5WctDnQOxQ4uaxnvu1AU2nh6MwX9FI
ni93mcFqwI2zzFTfOWaZHguYWEG/D0z4puKp4YpwR26WYWCzSZJW8dRiw8wrEdj1
Vym3zVhgoM8Tsl+XU4jnSgugLQhNaxkFT5N0oA+f7MPfpBOoHnlXrhc2WwKBgAMt
q3qoP9wi07Y5f048xBFnUVXQWeq7ayRABfs+Jelk++N9VH9t7A2t83OE+nEId5lp
nvJ9docSZwc4Za0dPj/vUz+88hNV1p7VSidaZnYh8ZOqLyUI/tDy8tcnCnl4X7wV
moBGGrttCEYZkkU/yYK1B58EJBtTpcFwFXSESf9hAoGBALRVPeD8vGsvIKL1NiIL
/kCs0Rghs0fJPWkFZUK6r2OiKesQIGlVnpO2XzIp589VUwVsjdiWwFwuw5hIpGu/
p2VSJ6D6El0mpyzcDPNmMycZFyrkkAeIi19OMmhd5MwcDkJ+644Jmt/GtGY9NqBl
Ehv29EQmHnuiGkhLfvUwClDf
-----END PRIVATE KEY-----
"
export GOOGLE_APPLICATION_CREDENTIALS=/Users/kennykarnama/merlogi-raas-jp-dev-20b3b2d11740.json